@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overscroll-behavior: contain;
}

.sidebarMainContainer{
    width: 400px;
    max-height: 60vh;
    right: 0;
    top: 20vh;
    position: fixed;
    background-color: hsl(var(--b1));
    border-radius: 5px;
    overflow: hidden;
}


/* Sidebar NavBar */
.navbarTitle{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    overscroll-behavior: contain;
}

/* SideBar Content */
.sidebarMainContentContainer{
    max-height: 50vh;
    overflow: auto;
}
.sidebarMenuTitle{
    font-weight: 400;
    font-size: large;
}


/* Bolt */
.boltContainer{
    display: flex;
    height: 250px;
    border: hsl(var(--b3)) 2px solid;
    border-radius: 5px;
}

.boltTabList{
    flex-direction: column;
    width: 25%;
    border-right: hsl(var(--b3)) 2px solid;
    overflow-y: auto;
}
.boltContainer .tabs{
    display: flex;
    flex-wrap: nowrap;
    align-items: normal;
}
.boltContentPanel {
    color: hsl(var(--bc));
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-items: center;
    overflow: hidden;
    align-items: center;
    margin: auto;
}

.boltContentPanel .btn{
    margin-top: 10px;
    margin-right: 10px;
    flex-basis: 100%;
}

.boltTabActive{
    border-color: hsl(var(--a) / var(--tw-border-opacity));
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
}



/*Options   */
.optionsPanel{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: hsl(var(--b1));
    padding: 0 2rem;
    gap: 0.5rem;
}
.optionsTitle{
    font-size: 2rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}
.optionsThemeHeading{
    font-size: 1.5rem;
    font-weight: 300;
}