@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overscroll-behavior: contain;
}

.sidebarMainContainer{
    width: 400px;
    min-height: 10vh;
    max-height: 60vh;
    right: 0;
    top: 20vh;
    position: fixed;
    background-color: hsl(var(--b1));
    border-radius: 5px;
}




/* Sidebar NavBar */
.navbarTitle{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    overscroll-behavior: contain;
}

/* SideBar Content */
.sidebarMainContentContainer{
    max-height: 50vh;
    overflow: auto;
}
.sidebarMenuTitle{
    font-weight: 400;
    font-size: large;
}


/* Bolt */
.boltContainer{
    display: flex;
    height: 250px;
}
.boltTabList{
    flex-direction: column;
    width: 20%;
    align-content: center;
    border-right: hsl(var(--a)) 2px solid;
    overflow: clip;
}
.boltTabItem{
}
.boltContentPanel{
    color: hsl(var(--bc));
    padding: 5px;
}

.boltTabActive{
    border-color: hsl(var(--a) / var(--tw-border-opacity));
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
}



/*Options   */
.optionsPanel{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: hsl(var(--b1));
    padding: 0 2rem;
    gap: 0.5rem;
}
.optionsTitle{
    font-size: 2rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}
.optionsThemeHeading{
    font-size: 1.5rem;
    font-weight: 300;
}